/* .visit-count {
	position: relative;
	bottom: 10px;
	left: -50%;
	transform: translateX(-50%);
} */
.visit-counter {
	/* font-size: 0.85rem;
	color: #888;
	letter-spacing: 0.03em; */
	/* padding-right: 0.25rem; */
}

p.visit-count-line {
	/* position: relative;
	bottom: 10px;
	left: -50%;
	transform: translateX(-50%); */
	display: flex;
	justify-content: right;
	color: #676767;
	font-weight: 400;
	font-size: 1rem;
	margin-right: 0rem;
	margin-top: 2rem;
}

/* .visit-count img {
	padding-right: 0.25rem;
} */
